@model Testing.Models.ClientePostgreSQL

@{
    ViewData["Title"] = "Editar Saldo";
}

<h1>Editar Saldo</h1>

<h4>@Model.Apellidos, @Model.Nombres</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ModificarSaldo" method="post">
            <input type="hidden" asp-for="Codigo" />

            <div class="form-group">
                <label for="saldoActual">Saldo Actual</label>
                <input type="text" class="form-control" value="@Model.Saldo.ToString("C")" readonly />
            </div>

            <div class="form-group">
                <label for="monto">Cantidad</label>
                <input type="number" class="form-control" id="monto" name="monto" step="0.01" required />
            </div>

            <div class="form-group">
                <label for="esDeposito">Acción</label><br />
                <input type="radio" id="agregar" name="esDeposito" value="true" checked />
                <label for="agregar">Agregar</label><br />
                <input type="radio" id="quitar" name="esDeposito" value="false" />
                <label for="quitar">Quitar</label>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la Lista</a>
</div>
